@mixin header-scroll-styles {
  background-color: rgba($color: #fff, $alpha: 0.95);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  padding: 25px 30px;
  border-radius: 0 0 10px 10px;
}

.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  transition: $global-transition;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $primary-color;
    transition: $global-transition;
  }

  .section-container {
    @include flex;
    text-align: left;
    margin: auto;
    transition: padding 200ms linear;
    padding: 35px 20px;

    @include responsive-medium {
      @include header-scroll-styles;
      padding: 25px 20px !important;
    }
  }

  .logo {
    font-size: 40px;
    color: $primary-dark;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    user-select: none;

    @include responsive-medium {
      font-size: 34px;
    }

    span {
      color: $primary-color;
      font-weight: 800;
    }
  }

  .nav {
    @include responsive-small {
      display: none;
    }

    &-list {
      @include flex;
    }

    &-item {
      margin: 0 15px;

      &:hover {
        transform: translateY(-4px);
      }

      @include responsive-medium {
        margin: 0 10px;
      }
    }

    &-link {
      color: $primary-dark;
      font-weight: 500;
      position: relative;
      font-size: 17px;

      &__active {
        color: $primary-color;
      }
    }
  }

  .toggle-btn {
    border: none;
    display: none;
    background-color: transparent;
    position: fixed;
    top: 35px;
    right: 25px;

    @include responsive-small {
      display: inline-block;
    }

    .bar {
      width: 27px;
      height: 2.5px;
      border-radius: 70px;
      background-color: $primary-dark;
      position: relative;
      transition: 150ms all linear;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        background-color: inherit;
        border-radius: inherit;
        transition: inherit;
        left: 0;
      }

      &::before {
        bottom: 8px;
      }
      &::after {
        top: 8px;
      }
    }
  }
}

.header-toggle-active {
  height: 100vh;
  background-color: #fff;

  &::after {
    width: 100%;
    height: 5px;
  }

  .section-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav {
    width: 100%;
    display: flex;
    height: 100vh;

    &-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 15px auto;
    }

    &-item {
      margin: 40px 0;
    }

    &-link {
      font-size: 26px;

      &::after {
        display: none !important;
      }
    }
  }

  .toggle-btn .bar {
    transform: rotate(135deg);
    background-color: $primary-color;

    &::before {
      display: none;
    }

    &::after {
      top: 0;
      transform: rotate(90deg);
    }
  }
}

.header-scroll-active .section-container {
  @include header-scroll-styles;
}
